<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PathFile" value="orders.txt" />
		<add key="DeliveryOrder" value="E:\\answerOrders.txt" />
		<add key="CityDistrict" value="West" />
		<add key="FirstDeliveryDateTime" value="2024-12-12 11:10:56" />
		<add key="DeliveryLog" value="deliverylog.txt" />
	</appSettings>
</configuration>